Package: TRiCYCLE
Version: 0.1
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-6-jre
Maintainer: Peter Brewer <p.brewer@cornell.edu>
Description: Universal dendro data format converter
Distribution: development